<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search - SciCatalog</title>
        
        <!-- Styles -->
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-grid.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-reboot.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">

        <!-- Fonts -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Controllers -->
        <script src="../controllers/ArticleController.js"></script>
        <script src="../controllers/AuthenticationController.js"></script>
        <script src="../controllers/UserController.js"></script>
        <script src="../controllers/CategoryController.js"></script>
        
        <!-- Services -->
        <script src="../services/ArticleService.js"></script>
        <script src="../services/AuthenticationService.js"></script>
        <script src="../services/UserService.js"></script>
        <script src="../services/CategoryService.js"></script>
        
        <script src="../lib/js/user-auth.js"></script>
        <script>
            const articleController = new ArticleController();
            function search() {
                const tabId = document.getElementsByClassName('nav-link active')[0].id;
                switch(tabId) {
                    case 'home-tab':
                        searchByCategory(document.getElementById('category-select').value);
                        break;
                    case 'profile-tab':
                        searchByTitle(document.getElementById('keyword-title').value);
                        break;
                    case 'messages-tab':
                        searchByTags(document.getElementById('tags-article').value);
                        break;
                }
            }

            function searchByCategory(categoryId) {
                if(categoryId < 0) {
                    alert('Please, select category');
                    return;
                } else {
                    articleController.getArticleByCategory(categoryId);
                }
            }

            function searchByTitle(keyword) {
                if(keyword == null) {
                    alert('Please, enter part of article title');
                    return;
                } else {
                    articleController.getArticleByTitle(keyword);
                }
            }

            function searchByTags(tags) {
                if(tags == null) {
                    alert('Please, enter tags');
                    return;
                } else {
                    articleController.getArticleByTags(tags);
                }
            }
        </script>
    </head>
    <body>
        <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/SciStorage">
                <img src="../lib/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Catalog of science articles">
                SciCatalog
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid" id="navbarNav">
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/SciStorage">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="articles.html">Articles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cateories.html">Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item" id="add-article" style="visibility:hidden;">
                  <a class="nav-link" href="add_article.html">Add article</a>
                </li>
                <li class="nav-item active" id="search" style="visibility:hidden;">
                  <a class="nav-link" href="search.html">Search<span class="sr-only">(current)</span></a>
                </li>
              </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" id="register">
                        <a class="nav-link" href="register.html">Register</a>
                    </li>
                    <li class="nav-item" id="login">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item" id="logout" style="visibility:hidden;">
                        <input onclick="logout();" type="submit" class="btn btn-default" id="logout-input" value="Logout" style="background-color: #eee;"/>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div id="body" class="container">
            <div class = "container">
                <div class="search-wrapper">
                    
                    <form name="Search_Form" class="form-search" style="padding-bottom: 21px">
                        <h3 class="form-signin-heading">Search Articles</h3>
                        <hr class="colorgraph">
                        
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">По категории</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">По названию</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">По тегам</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <select name="category" class="form-control" id="category-select">
                                <option value="-1">Select category</option>
                            </select>
                          </div>
                          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <input name="keyword" type="text" id="keyword-title" class="form-control" placeholder="Keyword" />
                          </div>
                          <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                              <input name="tags" type="text" id="tags-article" class="form-control" placeholder="Tags" />
                          </div>
                        </div>
                        
                        
                    </form>
                    <input onclick="search();" class="btn btn-lg btn-primary btn-block" name="Submit" value="Search" type="Submit" />
                </div>
                
                <div id="articles"></div>
            </div>
        </div>
        
        <div id="footer" class="container bg-secondary">
            <div class="text-center center-block">
                <a href="https://github.com/Bitluck/sci-storage"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                <a href="mailto:bitluck11@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
       </div>
        
        <div id="scripts">
            <!-- Scripts -->
            <script src="../lib/js/jquery.min.js"></script>
            <script src="../lib/js/bootstrap.min.js"></script>
            <script src="../lib/js/popper.min.js"></script>
            <script src="../lib/js/user-nav-menu.js"></script>
        </div>
        <script>
        $(function () {
          //$('#myTab li:last-child a').tab('show');
        })
                    
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $('#myTab li a').removeClass('active');
            $(this).tab('show');
            $(this).addClass('active');
        });
        
        window.onload = function() 
        {
            const shower = new MenuShower();
            shower.show();
            
            const authController = new AuthenticationController();
            let logoutName = document.getElementById('logout-input').value + ', ' + authController.getCookie('email');
            document.getElementById('logout-input').value = logoutName;
            
            const categoryController = new CategoryController();
            let categorySelector = document.getElementById('category-select');
            let categories = categoryController.getAllCategory();
            for(let i = 0; i < categories.length; ++i) {
                let optionElement = document.createElement('option');
                optionElement.value = categories[i].id;
                optionElement.innerHTML = categories[i].name;
                categorySelector.appendChild(optionElement);
            }
        };
        </script>
    </body>
</html>
